<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Enos A. Vazquez is learning Ruby at the The Fire Hose Project
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
</div>